* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --background-color: #f4f4f6;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    line-height: 1.6;
    padding: 1em;
}

.container {
    display: inline-block;
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

add-to-calendar-button {
    display: inline-block;
    margin: 1em auto; /* Centers the button vertically in the container */
}

.last-updated {
    color: #7f8c8d;
    font-size: 0.9em;
    margin-top: 1em;
}